/* Wrapper around the input and icon */
.password-field-wrapper {
  position: relative;
  display: block;
}

/* Password input field */
.buddyc-password-field {
  padding-right: 30px; /* Add space for the icon inside the input */
}

/* Toggle icon positioned inside the input field */
.toggle-password-visibility {
  position: absolute;
  right: 10px;           /* Distance from the right edge */
  top: 50%;              /* Center vertically */
  transform: translateY(-50%);
  cursor: pointer;       /* Cursor changes to pointer when hovering */
  font-size: 24px;       /* Adjust icon size */
  color: #888;           /* Default icon color */
  transition: color 0.3s; /* Smooth color transition on hover */
}

/* Icon hover effect */
.toggle-password-visibility:hover {
  color: #333;           /* Darker color when hovered */
}

/* Password strength indicator */
.buddyc-password-strength-indicator {
    padding: 5px 30px;
    margin: 10px 10px 10px 0;
    background-color: gray;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}
.buddyc-password-strength-indicator.strength-weak {
    background-color: red;
    color: white;
}
.buddyc-password-strength-indicator.strength-medium {
    background-color: orange;
    color: white;
}
.buddyc-password-strength-indicator.strength-strong {
    background-color: green;
    color: white;
}

/* Generate Password link */
.buddyc-generate-password-link {
    font-size: 16px;
}
.buddyc-generate-password-link:hover {
    color: var(--buddyclients-tertiary-color);
}

/* Copied to clipboard */
.buddyc-clipboard-success {
    font-size: 14px;
    color: gray;
}