/* CSS for horizontal display of subnavigation links */
.buddyc_subnav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.buddyc_subnav a {
    display: inline-block;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    border-radius: 5px;
    border: var(--buddyclients-default-border);
    background-color: #fafbfd;
}

.buddyc_subnav a:hover,
.buddyc_subnav a.active {
    background-color: #fff;
    color: var(--buddyclients-tertiary-color);
}